.invalid-input {
  color: red;
  padding-top: 5px;
}
.valid-input {
  /* 인풋에서 검증성공시 나오게 할 문자의 style */
  color: forestgreen;
  padding-top: 5px;
}
.password {
  -ms-ime-mode: disabled; /* 영문만 쓸 수 있게 함 */
}
