.container {
  width: 1120px;
  max-width: none !important;
}

.main_img {
  width: 450px;
  height: 200px;
  object-fit: cover;
}
.centered {
  /* height: 100vh; Magic here */
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* cursor: pointer; */
}
.bestpdts {
  float : left;
}
.BestButtons {
  position: relative;
  top:4rem;
  text-align:right;
  cursor: pointer;
}
.sortAndOrder{
  text-align: right;
}
.pagination-ul{
  color:gray; 
  display: flex;
  align-items: center;
}
.pagination-ul li {
  padding: 1rem;
}
.currentPage{
  color:black
}
.reviewDelChange{
  display: inline;
  float: right;
}
.reviewDiv{
  border-top: 1px solid black;
}
.reviewMakeForm{
  padding-bottom: 1rem;
}
.reviewMakeFormStar{
  float: left;
}
#reviewMakeFormStarID{
  display: inline;
}
.descStar{
  display: inline;
}
.cBody {
  height: 400px;
}
.Detailtitle{
  padding-left: 4rem;
}

.homeSideBar{
  padding-top: 5rem;
  float: left;
  border-right: 3px solid black;
  height: 2136px;
  width: 18%;
}

a:link{ 
  text-decoration: none;
  color: black;
 }
a:visited{ 
  text-decoration: none;
  color: black;
 }
a:hover{ 
  text-decoration: underline;
  color: black;
 }


 /* navBar */
 .navBarCate{
   padding-right: 1rem;
   padding-left: 1rem;
 }
 .NavBarCataForm{
   padding-top: 7px;
 }

 /* mypageTable 마우스 오버시 색상 변경*/
 tbody > tr:hover {
  background-color:gainsboro;
  transition: background-color .3s;
 }
 a:link, a:visited,  a:hover, a:active{
    color: #000000;
    text-decoration: none;
}
.userbox {
  width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 0px 50px 50px 50px;
}

.calender {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
