.main_img {
  width: 450px;
  height: 200px;
  object-fit: cover;
}


.centered {
  /* height: 100vh; Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
}

.bestpdts {
  float : left;
}